<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7434449929-pi6flmab4ohj6rni77d43nl7e0jktce0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7434449929-pi6flmab4ohj6rni77d43nl7e0jktce0</string>
	<key>API_KEY</key>
	<string>AIzaSyBaK2mKbWvlTU5ugD20OUXCf9jvLutzzmo</string>
	<key>GCM_SENDER_ID</key>
	<string>7434449929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.artkln.vkclient</string>
	<key>PROJECT_ID</key>
	<string>vk-client-943ec</string>
	<key>STORAGE_BUCKET</key>
	<string>vk-client-943ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7434449929:ios:2bf11a459f8a0493c434d8</string>
	<key>DATABASE_URL</key>
	<string>https://vk-client-943ec-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>